.add-option-error {
  color: $dark-blue;
  font-style: italic;
  padding: 0;
  margin: $m-size 0 $m-size $m-size;
}

//add-option
.add-option {
  display: flex;
}

.add-option__input {
  background: $blue;
  border: none;
  color: $off-white;
  border-bottom: 0.3rem solid darken($dark-blue, 5%);
  flex-grow: 1;
  margin-right: $s-size;
}
