.header {
  background: $dark-blue;
  color: $off-white;
  margin-bottom: $m-size * 3;
  padding: $m-size 0;
}

.header__title {
  font-size: $m-size * 2;
  margin: 0;
}

.header__subtitile {
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}
